html, body { color: #434242; font-family: 'Open Sans', sans-serif !important; height: 100%; }
.jumbotron{
	background-color: #22A39F;
	color: white;
}
.experience{
	background-color: #F3EFE0;
}
h1,h4{
	color: white;
	text-align: center;
}
h2{
	color: #22A39F;
	text-align: center;
}
div.col-md-4> h3{
	color: #22A39F;
}
.imgContainer{
	overflow: hidden;
	margin: 0 auto;
}
div.imgContainer >img{
	width: 100%;
	height: 100%;
	border-radius: 130px;
	border: solid 7px #F3EFE0;
}
.container{
	padding: 40px 180px;
}
li{
	text-decoration: none;
}
.spanTitle{
	margin-right: 40px;
}
.glyphicon.glyphicon-star-empty,.glyphicon {
	float: right;
	color: #DFE0E0;
	font-size: 12px;
	padding-left: 4px;
}
.glyphicon.glyphicon-star{
	color: #22A39F;
}
li{
	list-style-type: none;
}
.foot{
	background-color: #434242;
}
.foot h2,.contactInfo i,.contactInfo span{
	color: white;
}
.contactInfo a:hover,.contactInfo span:hover{
	color: gray;
	text-decoration: none;
}
