html, body { color: #434242; font-family: 'Open Sans', sans-serif !important; height: 100%; }
.jumbotron{
	background:url(../image/bg2.jpg) no-repeat center center scroll;
	color: white;
	margin-bottom: 0;
	background-size: 100% 100%;
	height: 100%;
}
.experience{
	background: url(../image/bg4.jpg) no-repeat center center scroll;
	background-size: 100% 100%;
	color: white;
	font-size: 20px;
	height: 100%;
}

.profile{
	background: url(../image/bg3.jpg) no-repeat center center scroll;
	background-size: 100% 100%;
	font-size: 20px;
	color: black;
	height: 100%;
}
.ability{
	background: url(../image/bg5.jpg) no-repeat center center scroll;
	background-size: 100% 100%;
	height: 100%;
}
.profile h3,.profile h2{
	color:black;
}
h1,h2,h3,h4{
	color: white;
	text-align: center;
	font-weight: bold;
}
#main .imgContainer{
	bottom: 0;
    left: 48%;
    position: absolute;
}
.imgContainer{
	overflow: hidden;
	margin: 0 auto;
}
div.imgContainer > img{
	width: 100%;
	height: 100%;
}
.container{
	padding: 40px 180px;
}
li{
	text-decoration: none;
}
.experience .row-title{
	color: #1d9b6c;
}
.spanTitle{
	margin-right: 40px;
	color: white;
	font-size: 20px; 
}
.glyphicon.glyphicon-star-empty,.glyphicon {
	float: right;
	color: #DFE0E0;
	font-size: 20px;
	padding-left: 4px;
}
.glyphicon.glyphicon-star{
	color: #22A39F;
}
li{
	list-style-type: none;
}
.foot{
	background-color: #434242;
}
.foot h2,.contactInfo i,.contactInfo span{
	color: white;
}
.contactInfo a:hover,.contactInfo span:hover{
	color: gray;
	text-decoration: none;
}

.char1,.char2,.char3,.char4,.char5,.char6,.char7,.char8,.char9{
	animation: 10s showName;
	animation-fill-mode: forwards;
	-webkit-animation: 4s showName;
	-webkit-animation-fill-mode: forwards;
	visibility: hidden;

}
.char1{
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.char2{
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}
.char3{
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
.char4{
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s;
}
.char5{
	-webkit-animation-delay: 1.3s;
	animation-delay: 1.3s;
}
.char6{
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
.char7{
	-webkit-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
.char8{
	-webkit-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
.char9{
	-webkit-animation-delay: 2.1s;
	animation-delay: 2.1s;
}
.name{
	font-size: 34px;
	text-align: center; 
}
.infoTitle{
	font-size: 20px;
	margin-left: 10%;
	animation: 0.5s showTitle ease-in;
	animation-fill-mode: forwards;
	-webkit-animation: 0.5s showTitle ease-in;
	-webkit-animation-fill-mode: forwards;
}

@keyframes showName{
	0% {opacity: 0; visibility: hidden;}
	10% {opacity: 0;}
	20% {opacity: 1; visibility: visible;}
	100% {opacity: 1; visibility: visible;}
}
@keyframes showTitle{
	0% {
		opacity: 0;
		top: -20;
	}
	100%{
		opacity: 1;
		top: 0;
	}
}

@-webkit-keyframes nameAni1 {
  0% {
    opacity: 0;
    visibility: hidden; }
  11% {
    opacity: 1; }
  20% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 1;
    visibility: visible; } 
}

#introPanel{
	font-size: 16px;
	text-align: center;
    -webkit-transition: opacity 1.5s;
  	-moz-transition: opacity 1.5s;
  	-o-transition: opacity 1.5s;
  	-ms-transition: opacity 1.5s;       
  	transition: opacity 1.5s;
  	opacity: 0;
}
#introPanel.introPanelFade{
	opacity: 1;
}
.downBtnIcon{
	fill: transparent;
    stroke: white;
    stroke-width: 3px;
    -webkit-transition: opacity 0.5s;
  	-moz-transition: opacity 0.5s;
  	-o-transition: opacity 0.5s;
  	-ms-transition: opacity 0.5s;       
  	transition: opacity 0.5s;
}
.downBtnIcon:hover{
	opacity: 0.5;
	cursor: pointer;
}
.mainNav{
	position: absolute;
	z-index: 999;
}
.mainInfo{
	background-color: #F3EFE0;
}
.mainContainer{
	overflow: hidden;
}

.pt-page-rotateFall {
	-webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1s both ease-in;
	z-index: 9999;
}
.pt-page-scaleUp {
	display: block;
	
}
@keyframes rotateFall {
	0% { transform: rotateZ(0deg); }
	20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% { transform: rotateZ(17deg); }
	60% { transform: rotateZ(16deg); }
	100% { position: absolute;transform: translateY(100%) rotateZ(17deg);}
}

@keyframes scaleUp {
	from { opacity: 0;transform: scale(.8); }
}
.navbar-custom{
	margin-bottom: 0;
	background: transparent;
	border: none;
	box-shadow: none;
}
.navbar-default.navbar-custom .navbar-nav>li>a{
	color: white;
	text-transform: uppercase;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	cursor: auto;
}
a，a:hover, .navbar-header a{
	color:white;
	text-decoration: none;
	margin-left: 6px;
}
.navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.life .container{
	width:100%;
	background-color: black;
	padding: 0;
	margin:0;
}
.item-food{
	display: block;
	float: left;
}
.owl-carousel{
	display: block;
}
.jumbotron .navbar-right{
	margin-right:0;
}
